<section>
  <h1><%=t 'top.title' %></h1>
  <p><%=t 'top.pay_for_me' %></p>
  <p><%=t 'top.set_your_own' %></p>
  <% @grouped_payments.each do |payments| %>
    <% payment = payments.first %>
    <%= content_tag :section, :class => payment.ux_type do %>
      <h2>
        <%=t "payments.#{payment.goods_type}.title" %>
        <% if payment.popup? %>(Popup)<% end %>
      </h2>
      <p><%=t "payments.#{payment.goods_type}.description" %></p>
      <% if payment.popup? %>
        <p><%=t "payments.popup.description" %></p>
      <% end %>
      <div class="boxes">
        <%= render payments %>
      </div>
    <% end %>
  <% end %>
</section>

<%= content_for :bottom do %>
  <script src="https://www.paypalobjects.com/js/external/dg.js"></script>
  <script>
    $(function () {
      var popup_forms = $('.popup form');
      $.each(popup_forms, function (index, form) {
        var sandbox = <%= Paypal.sandbox?.to_json %>;
        var submit_id = 'paypayl_submit_' + index;
        $('input[type=submit]', form).attr({id: submit_id});
        flow_config = {trigger: submit_id};
        if (sandbox) flow_config.stage = sandbox;
        window.paypal_flows = [];
        window.paypal_flows.push(new PAYPAL.apps.DGFlow(flow_config));
      });
    });
  </script>
<% end %>